    <h1 class="padding">{{(supplierState$ | async).name}}</h1>
    <div class="padding">
      <mat-expansion-panel [expanded]="true">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Office
            <span *ngIf="(supplierState$ | async).state.editMode">***</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-office
          [supplier]="(supplierState$ | async)"
          [supplierEdit]="(supplierEditState$ | async)"
          [index]="index"
          (update)="updateEditingSupplier($event)"
          (edit)="edit($event)"
          (save)="save($event)"
          (cancel)="cancel($event)"
          ></app-office>

      </mat-expansion-panel>
    </div>

    <div class="padding">
      <mat-expansion-panel [expanded]="(supplierState$ | async).salesReps[0] ? true : false">

        <mat-expansion-panel-header>
          <mat-panel-title>Sales representative</mat-panel-title>
        </mat-expansion-panel-header>

        <app-sales-rep
          *ngIf="(supplierState$ | async).salesReps[0]"
          [supplier]="(supplierState$ | async)"
          ></app-sales-rep>

      </mat-expansion-panel>
    </div>

    <div class="padding">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Outstanding Invoices
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-form-actions></app-form-actions>
      </mat-expansion-panel>
    </div>
    <div class="padding">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paid Invoices
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-form-actions></app-form-actions>
      </mat-expansion-panel>
    </div>
