@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.padding {
  padding: 16px 16px 16px 16px;
}