// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';

.sidenav {
  overflow: auto;
  min-width: 200px;
}

app-list-area {
	background-color: mat-color($background);
	display: block;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 300px;
	transform: translate3d(0px, 0px, 0px);
}

router-outlet {
	margin-left: 300px;
}