<mat-sidenav-container fxFlex>
	<mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
		<mat-nav-list>
			<!-- Stock -->
			<mat-list-item routerLink="stock">
				<mat-icon class="padding">assignment</mat-icon>
				<span>Stock</span>
			</mat-list-item>
			<!-- Supplier -->
      <mat-list-item 
      routerLink="suppliers">
				<div fxLayoutAlign="center center">
					<mat-icon class="padding">assignment</mat-icon>
					<span>Suppliers</span>
				</div>
			</mat-list-item>
			<!-- Ingredients -->
			<mat-list-item routerLink="ingredients">
				<div fxLayoutAlign="center center">
					<mat-icon class="padding">assignment</mat-icon>
					<span>Ingredients</span>
				</div>
			</mat-list-item>
			<!-- Recipe -->
			<mat-list-item routerLink="recipes">
				<div fxLayoutAlign="center center">
					<mat-icon class="padding">assignment</mat-icon>
					<span>Recipes</span>
				</div>
			</mat-list-item>
			<!-- Dishes -->
			<mat-list-item routerLink="dishes">
				<div fxLayoutAlign="center center">
					<mat-icon class="padding">assignment</mat-icon>
					<span>Dishes</span>
				</div>
      </mat-list-item>
      <p *ngIf="pageData">{{pageData}}</p>
    </mat-nav-list>
    <span></span>
	</mat-sidenav>

	<div class="content" fxLayout="row">
    <router-outlet></router-outlet>
	</div>
</mat-sidenav-container>