@import '../../../../theme.scss';

.close {
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  width: 16px;
  visibility: hidden;
  position: relative;
  right: -12px;
}

.close-hover {
  visibility: visible;
}

.active {
  color: white !important;
}

.mat-tab-link {
  opacity: 1;
  min-width: 60px;
}

.mat-tab-link {
  height: 34px;
}

.tempTab {
  font-style: italic;
}

