<form [formGroup]="officeForm">
  <div>
    <mat-form-field>
      <input 
        matInput 
        formControlName="address"
        placeholder="Address"
        (change)="updateEditingSupplier()"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input 
        matInput
        formControlName="telephone" 
        placeholder="Telephone" 
        (change)="updateEditingSupplier()"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input 
        matInput 
        formControlName="fax"
        placeholder="Fax" 
        (change)="updateEditingSupplier()"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input 
        matInput
        formControlName="email" 
        placeholder="Email"
        (change)="updateEditingSupplier()"
        >
    </mat-form-field>
  </div>
<app-form-actions [editMode]="supplier.state.editMode" (edit)="onEdit()" (save)="onSave()" (cancel)="onCancel()"></app-form-actions>
</form>